/* Contact Whatsapp */

.contact-whatsapp {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    overflow: hidden;

    position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 20px;

    border-radius: 50%;
    background-color: var(--color-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}

.contact-whatsapp a img {
    display: block;
    width: 85%;
    margin: auto;
}
