.title-page-contact {
    font-size: 4rem;
    color: var(--color-paragraph);
}

.email-page-contact {
    margin-top: 30px;
}

.email-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--color-paragraph);
    cursor: pointer;
}

.email-contact:hover {
    color: var(--color-paragraph);
}

.name-email p {
    font-size: 1rem;
}

.icon-contact {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-paragraph);
    border-radius: 50%;
    padding: 5px;
    fill: var(--color-paragraph);
}

.icon-contact:hover {
    border-color: var(--black);
}

.svg-icon {
    fill: var(--color-paragraph);
}

.svg-icon:hover {
    fill: var(--color-paragraph);
}